.pageNavColumnFont {display:none;}
.codeHelp {float:right; width:20em; margin:2% 1.75%;}
.loginHelpFont {float:right; width:20em; margin-top:-150px;}
#loginChat {margin-top:20px;}
.pageContentColumn {width: 97%;}
.pageContentInner {float:right; margin-left: 1%; padding: 1%; width:60%;}
.loginWrapper {width:38em; margin:auto;}
#sideChat {display:none}