.clusterLogo {
    top: 5px;
}

.topLogoImage {
    padding:10px;
    width:200px;
}

.topLogoImage img {
    max-width: 275px;
    padding-bottom: 15px;
}

.linkBanner {
    background-color:#250E62;
}

.form2Part, .form1Part, .form3PartBelow {
    border-color:#d3cddd;
    background: url("tile_vgradient_yellow.jpg") repeat-x scroll left top #FFFFFF;
}

.mylistsSavePage form, .pageNavColumn, .form3Part {
    border-color:#d3cddd;
    background-color:#FFFDEE;
}

.browseHeaderData, .browseHeaderEntries, .browseHeaderMark, .browseHeaderNum, .browseHeaderYear, .browseHeaderMedia {
    background-color:#e2dfe6;
}