.bibDisplayJacket {
    display: inline;
    float: left;
    margin: 0 0 1em 1%;
    width: 8em;
}

div .bibResourceSidebar { display: block; text-align: center; }

.bibResourceSidebar .resourceButton {display:block;}

.bibDisplayContentMain, .resourceDisplayContentMain {
    display: inline;
    float: left;
    margin-left: 1.5em;
    width: 59%;
}

.clusterLogo {
    top: 5px;
}

#googlebooks {
    display: block;
    font-size: 0.9em;
    text-align: center;
}

#googlebooks img {
    margin-top: 1em;
}

.topLogoImage {
    padding:10px;
    width:200px;
}

.linkBanner {
    background-color: #005A50;
}

.linkBanner a {
    color: #FBCB60;
}

.linkBanner .navLeft {float: left;}

.linkBanner .navRight {float: right;}

.linkBanner .navLeft ul li {margin-left: 0; margin-right:2em;}

.linkBanner ul {list-style-type:none; margin: 0; padding: 0 1.2em;}

.linkBanner ul li {display: inline; margin-left:2em;}

.linkBanner .navLeft, .linkBanner .navRight {
    padding-top:.15em;
}

#qr {
    text-align: center;
	}

.reqlinks {
	font-size: 15px;
	}

.reqlinks p {font-weight:bold;}

span.navButton {
    padding: 6px 7px;
}

span.navButton, span.navButtonOneLine {
    background: url("button_blank.gif") no-repeat scroll 0 0 transparent;
    color: #000000;
    cursor: pointer;
    font-size: 11px;
    font-weight: normal;
    height: 27px;
    line-height: 11px;
    text-align: center;
    width: 65px;
}

#searchNavMenu {
    visibility:hidden;
}

.rightColumn {
    float: right;
    margin: 3em 0em;
    padding-bottom: 10px;
    width: 317px;
}

.sidebarCov {
    float: right;
    margin: 2% 0 2% 1.75%;
    padding-bottom: 10px;
    width: 192px;
    width:22%;
    padding:0.5%;
}

.pageNavColumnCov {
    background-color:#F3F3F3;
    border: 1px solid #d3d3d3;
    margin:2% 1.75%;
    padding: 2.5%;
}

.concordMessage {
    clear: both;
    list-style-type: none;
    text-align: center;
    color: #444444;
    font-size: 1em;
    font-style: normal;
    margin: 1px 5px 0 0;
}
.concordMessage li {
    padding-left: 6px;
}