div .bibResourceSidebar {
    display:block;
}

.bibResourceSidebar {
    width:208px;
}

body.bodybg {
	background:none;
}

.mainColumn {
    width:100%;
}

.rightBib {
    float:right;
    width:230px;
}


.rightColumn {
    display:none;
}

.pageNavColumnCov {
    display: none;
}
.sidebarCov {
    display: none;
}

.pageContentColumn {
    float: left;
    margin-left: 1%;
    padding: 1%;
    width: 96%;
}