.topLogoImage {
    padding:18px 10px;
  }

.topLogoImage img { max-width: 100%; height: auto; }
  
.clusterLogo {
    top:10px;
}

#patButAR { display: none; }

.linkBanner { background: #003764; }
