.journalSearch fieldset {
    width:40em;
    height:100px;
}

.journalSearch#accessibleForm .formEntryArea {
    margin-top:20px;
}

.topLogoImage {
    padding: 29px 10px;
    width:200px;
}

#patButAR { display: none; }