.chat-widget {float:right; margin-right:15px; margin-top: -30px;}

.clusterLogo {
    top: 5px;
}

.topLogoImage {
    padding:10px;
    width:200px;
}

.topLogoImage img {
    max-width: 275px;
    padding-bottom: 15px;
}

.linkBanner {
    background-color:#250E62;
}

.form2Part, .form1Part, .form3PartBelow {
    border-color:#d3cddd;
    background: url("tile_vgradient_yellow.jpg") repeat-x scroll left top #FFFFFF;
}

.mylistsSavePage form, .pageNavColumn, .form3Part {
    border-color:#d3cddd;
    background-color:#FFFDEE;
}

.browseHeaderData, .browseHeaderEntries, .browseHeaderMark, .browseHeaderNum, .browseHeaderYear, .browseHeaderMedia {
    background-color:#e2dfe6;
}

.pageNavColumnFont {
border-color:#d3cddd;
background-color:#FFFDEE;
float:right;
margin:2% 1.75%;
padding:0.5%;
width:100%;
}

.rightColumn {
    float: right;
    margin: 3em 0em;
    padding-bottom: 10px;
    width: 317px;
}


.sidebarFont {
    float: right;
    margin: 2% 0 2% 1.75%;
    padding-bottom: 10px;
    width: 192px;
    width:22%;
    padding:0.5%;
}