.linkBanner {
    background:#cc0033;
    margin:0;
    position:relative;
    text-align:right;
    padding: .5em 0;
    clear:both;
    float:right;
    width:100%;
}

.topLogoImage {
    padding:32px 15px;
    width:76px;
}

#patButAR { display: none; }